{% extends 'base.html.twig' %}

{% block title %}
    Marais
{% endblock %}

{% block body %}
    <!-- Banner start -->
    <section>
        <div class="container-fluid px-0 herobanner"
            style="height : 55svh ; min-height : 500px">
            <img src="{{ asset('assets/uploads/livings/marais/marais.png') }}"
                alt=""
                class="img-box brightness-80" />
            <div class="container position-absolute top-50 start-50"
                style="transform : translate(-50%, -50%)">
                <div class="d-flex align-items-center mb-3 gap-2 text-white">
                    <h6 class="text-uppercase m-0 little-title-article">
                        habitat
                    </h6>
                </div>
                <h1 class="text-uppercase fw-light mb-3 text-white title-banner-page">
                    les <span class="fw-bold">marais</span> enchantés
                </h1>
                <span class="line-banner-page bg-success"></span>
            </div>
        </div>
    </section>
    <!-- Banner end -->

    <!-- Marais start -->

    <section>
        <div class="container">
            <div class="row pt-top">
                <main class="col-lg-9 pe-lg-5">
                    <div class="container d-flex flex-column mb-4">
                        <div class="d-flex mb-3 gap-2 align-items-center">
                            <span class="little-line-article bg-success"></span>
                            <h6 class="text-uppercase m-0 little-title-article">
                                détails
                            </h6>
                        </div>

                        <h1 class="text-uppercase fw-light mb-4">
                            aperçu de nos <span class="fw-bold">marais</span>
                        </h1>

                        <p class="mb-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Distinctio odit debitis inventore, deleniti
                            iste laudantium veniam fuga quis commodi quam ipsa
                            facilis adipisci minima accusantium beatae qui id
                            doloremque ab repudiandae ducimus provident
                            repellat. Ipsa nulla numquam doloremque, explicabo
                            libero magni repellat asperiores rem, ea maxime
                            impedit voluptas a nobis.
                        </p>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 p-2">
                                <div class="bg-success p-4 d-flex flex-column align-items-center text-white">
                                    <svg width="64px"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        class="icon mb-3"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4615 11.3076C15.4615 15.9807 7.38508 18.923 3.92285 18.923M3 21C4.67954 15.4186 8.90469 10.9484 13.7481 9.08191C14.7948 8.67899 15.6 7.72085 15.6 6.6M15.6 6.6H12C12 5.4822 13.7849 4.35 15.6 4.35H15.9612M15.6 6.6V5.7C15.6 5.20821 15.7315 4.74713 15.9612 4.35M3.9 19.2H10.2C16.1647 19.2 21 14.3647 21 8.4V5.7C21 4.20883 19.7912 3 18.3 3C17.3006 3 16.4281 3.54297 15.9612 4.35M10.65 21V19.2M13.8 21V19.2M18.3 5.7L18.3064 5.70637"
                                            stroke="#ffffff"
                                            stroke-width="1.2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>

                                    <h6>
                                        Animaux
                                    </h6>
                                    <h4 class="fw-bold m-0">
                                        104
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-4 p-2">
                                <div class="bg-success p-4 d-flex flex-column align-items-center text-white">
                                    <svg width="64px"
                                        class="icon mb-3"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        stroke="#ffffff">
                                        <path d="M19 21C19 20.663 18.9818 20.3293 18.9463 20M5 3C5 3.33701 5.01817 3.67071 5.0537 4M5 21C5 16.8566 7.74671 13.2152 11.7307 12.077L12.2693 11.923C16.2533 10.7848 19 7.14339 19 3M15 4H5.0537M12.5 8H6.46206M9 20H18.9463M11.5 16H17.5379M18.9463 20C18.7899 18.5509 18.2974 17.187 17.5379 16M17.5379 16C16.3482 14.1405 14.5033 12.7152 12.2693 12.077L11.7307 11.923C9.49674 11.2848 7.65184 9.8595 6.46206 8M5.0537 4C5.21006 5.44909 5.70259 6.81301 6.46206 8"
                                            stroke="#ffffff"
                                            stroke-width="1.2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>

                                    <h6>
                                        Espèces
                                    </h6>
                                    <h4 class="fw-bold m-0">
                                        5
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-4 p-2">
                                <div class="bg-success p-4 d-flex flex-column align-items-center text-white">
                                    <svg width="64px"
                                        class="icon mb-3"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 18.5C16 19.8807 17.1193 21 18.5 21C19.8807 21 21 19.8807 21 18.5C21 17.1193 19.8807 16 18.5 16M16 18.5C16 17.1193 17.1193 16 18.5 16M16 18.5H8M18.5 16V8M8 18.5C8 19.8807 6.88071 21 5.5 21C4.11929 21 3 19.8807 3 18.5C3 17.1193 4.11929 16 5.5 16M8 18.5C8 17.1193 6.88071 16 5.5 16M5.5 16V8M5.5 8C4.11929 8 3 6.88071 3 5.5C3 4.11929 4.11929 3 5.5 3C6.88071 3 8 4.11929 8 5.5M5.5 8C6.88071 8 8 6.88071 8 5.5M8 5.5H16M18.5 8C17.1193 8 16 6.88071 16 5.5M18.5 8C19.8807 8 21 6.88071 21 5.5C21 4.11929 19.8807 3 18.5 3C17.1193 3 16 4.11929 16 5.5"
                                            stroke="#ffffff"
                                            stroke-width="1.2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>

                                    <h6>
                                        Superficie
                                    </h6>
                                    <h4 class="fw-bold m-0">
                                        1.500m²
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section>
                        <div class="container d-flex flex-column mb-4 pt-top">
                            <div class="d-flex mb-3 gap-2 align-items-center">
                                <span class="little-line-article bg-success">

                                </span>
                                <h6 class="text-uppercase m-0 little-title-article">
                                    marais
                                </h6>
                            </div>

                            <h1 class="text-uppercase fw-light">
                                nos <span class="fw-bold">protégés</span>
                            </h1>
                        </div>
                        <div class="container">
                            <div class="row">
                                {% for animal in animals %}
                                    <div class="col-lg-6 mb-4"
                                        style="height: 28.125rem">
                                        <div class="h-100 position-relative">
                                            <img src="{{
                                                asset(
                                                    'uploads_backoff/animals/'
                                                        ~ animal.img
                                                )
                                                }}"
                                                alt=""
                                                class="img-box brightness-65 position-absolute" />
                                            <div class="d-flex flex-column position-relative z-2 h-100 p-4 justify-content-end">
                                                <h6 class="text-uppercase m-0 little-title-article text-success">
                                                    {{ animal.race.name }}
                                                </h6>

                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h2 class="fw-bold text-white m-0 text-uppercase">
                                                        {{ animal.name }}
                                                    </h2>
                                                    <a class="btn p-0"
                                                        data-bs-toggle="offcanvas"
                                                        href="#{{ animal.id }}"
                                                        role="button"
                                                        aria-controls="offcanvasExample"
                                                        onclick="statsView({{
                                                        animal.id
                                                        }})">
                                                        <form action=""
                                                            method="get">
                                                            <button type="submit"
                                                                class="btn z-3 text-white fw-bold p-0"
                                                                data-bs-toggle="tooltip"
                                                                data-bs-placement="top"
                                                                data-bs-title="Détail de l'animal">
                                                                <img src="{{
                                                                    asset(
                                                                        'assets/icons/more-marais.svg'
                                                                    )
                                                                    }}"
                                                                    alt=""
                                                                    class="icon-more" />
                                                            </button>
                                                        </form>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Offcanvas start -->

                                    <div class="offcanvas offcanvas-start"
                                        tabindex="1"
                                        id="{{ animal.id }}"
                                        aria-labelledby="offcanvasExampleLabel">
                                        <div class="offcanvas-header">
                                            <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="offcanvas"
                                                aria-label="Close">

                                            </button>
                                        </div>

                                        <div class="offcanvas-body">
                                            <ul class="d-flex flex-column gap-4">
                                                <li>
                                                    <div class="d-flex align-items-center gap-2">
                                                        <h5 class="fw-semibold m-0 text-uppercase">
                                                            {{ animal.name }}
                                                        </h5>
                                                    </div>
                                                </li>
                                                <span class="little-line-article bg-warning mt-2">

                                                </span>
                                                <li>
                                                    <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2">
                                                        <h6 class="fw-semibold m-0">
                                                            Race :
                                                        </h6>
                                                        <p class="m-0 txt-1">
                                                            {{ animal.race }}
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2">
                                                        <h6 class="fw-semibold m-0">
                                                            Régime Alimentaire :
                                                        </h6>
                                                        <p class="m-0 txt-1">
                                                            {% if
                                                                animal.veterinaryReport is not null %}
                                                                {{
                                                                    animal.veterinaryReport.food
                                                                }}
                                                            {% else %}
                                                                <p class="m-0 txt-1">
                                                                    Aucune
                                                                    donnée.
                                                                </p>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2">
                                                        <h6 class="fw-semibold m-0">
                                                            Quantité Distribuée
                                                            :
                                                        </h6>
                                                        <p class="m-0 txt-1">
                                                            {% if
                                                                animal.veterinaryReport is not null %}
                                                                {{
                                                                    animal.veterinaryReport.quantity
                                                                }}

                                                                kg/j
                                                            {% else %}
                                                                <p class="m-0 txt-1">
                                                                    Aucune
                                                                    donnée.
                                                                </p>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2">
                                                        <h6 class="fw-semibold m-0">
                                                            État de Santé :
                                                        </h6>
                                                        <p class="m-0 txt-1">
                                                            {% if
                                                                animal.veterinaryReport is not null %}
                                                                {{
                                                                    animal.veterinaryReport.state
                                                                }}
                                                            {% else %}
                                                                <p class="m-0 txt-1">
                                                                    Aucune
                                                                    donnée.
                                                                </p>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2">
                                                        <h6 class="fw-semibold m-0">
                                                            Date de Passage :
                                                        </h6>
                                                        <p class="m-0 txt-1">
                                                            {% if
                                                                animal.veterinaryReport is not null %}
                                                                {{
                                                                    animal.veterinaryReport.date|date(
                                                                        'd/m/Y'
                                                                    )
                                                                }}
                                                            {% else %}
                                                                <p class="m-0 txt-1">
                                                                    Aucune
                                                                    donnée.
                                                                </p>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </li>
                                                <span class="little-line-article bg-warning mt-2">

                                                </span>
                                                <li>
                                                    <div class="reportVeterinary d-flex flex-column gap-2">
                                                        <h6 class="fw-semibold m-0">
                                                            Rapport Vétérinaire
                                                            :
                                                        </h6>
                                                        {% if
                                                            animal.veterinaryReport is not null %}
                                                            {{
                                                                animal.veterinaryReport.detail|raw
                                                            }}
                                                        {% else %}
                                                            <p class="m-0 txt-1">
                                                                Aucune donnée.
                                                            </p>
                                                        {% endif %}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </main>
                <aside class="col-lg-3 mt-lg-0 mt-4">
                    <div class="d-flex flex-column gap-3">
                        <h6 class="text-uppercase fw-light fw-bold mb-2">
                            espèces
                            <span class="little-line-article bg-success mt-2">

                            </span>
                        </h6>

                        <ul class="d-flex flex-column gap-3">
                            <li class="d-flex justify-content-between">
                                <h6 class="fw-light">
                                    Alligator
                                </h6>
                                <h5 class="fw-bold">
                                    7
                                </h5>
                            </li>
                            <li class="d-flex justify-content-between">
                                <h6 class="fw-light">
                                    Hippopotame
                                </h6>
                                <h5 class="fw-bold">
                                    3
                                </h5>
                            </li>
                            <li class="d-flex justify-content-between">
                                <h6 class="fw-light">
                                    Héron
                                </h6>
                                <h5 class="fw-bold">
                                    6
                                </h5>
                            </li>
                            <li class="d-flex justify-content-between">
                                <h6 class="fw-light">
                                    Tortue
                                </h6>
                                <h5 class="fw-bold">
                                    15
                                </h5>
                            </li>
                            <li class="d-flex justify-content-between">
                                <h6 class="fw-light">
                                    Grenouille
                                </h6>
                                <h5 class="fw-semibold">
                                    73
                                </h5>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <h6 class="text-uppercase fw-light fw-bold mb-2 pt-top-50">
                            origines<span class="little-line-article bg-success mt-2"></span>
                        </h6>
                        <div class="container">
                            <div class="row d-flex">
                                <div class="col-lg-12 col-md-6 col-12 d-flex px-lg-0 p-2">
                                    <div class="position-relative w-100 p-4">
                                        <img src="{{
                                            asset(
                                                'assets/uploads/livings/marais/floride.jpg'
                                            )
                                            }}"
                                            alt=""
                                            class="img-box position-absolute top-0 start-0 z-2 brightness-50" />
                                        <h6 class="fw-semibold text-white position-relative z-3 m-0">
                                            Floride
                                        </h6>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-6 col-12 d-flex px-lg-0 p-2">
                                    <div class="position-relative w-100 p-4">
                                        <img src="{{
                                            asset(
                                                'assets/uploads/livings/marais/tanzanie.jpg'
                                            )
                                            }}"
                                            alt=""
                                            class="img-box position-absolute top-0 start-0 z-2 brightness-50" />
                                        <h6 class="fw-semibold text-white position-relative z-3 m-0">
                                            Tanzanie
                                        </h6>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-6 col-12 d-flex px-lg-0 p-2">
                                    <div class="position-relative w-100 p-4">
                                        <img src="{{
                                            asset(
                                                'assets/uploads/livings/marais/canada.jpg'
                                            )
                                            }}"
                                            alt=""
                                            class="img-box position-absolute top-0 start-0 z-2 brightness-50" />
                                        <h6 class="fw-semibold text-white position-relative z-3 m-0">
                                            Canada
                                        </h6>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-6 col-12 d-flex px-lg-0 p-2">
                                    <div class="position-relative w-100 p-4">
                                        <img src="{{
                                            asset(
                                                'assets/uploads/livings/marais/australie.jpg'
                                            )
                                            }}"
                                            alt=""
                                            class="img-box position-absolute top-0 start-0 z-2 brightness-50" />
                                        <h6 class="fw-semibold text-white position-relative z-3 m-0">
                                            Australie
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <h6 class="text-uppercase fw-light fw-bold mb-2 pt-top-50">
                            MAP Intéractive
                            <span class="little-line-article bg-success mt-2">

                            </span>
                        </h6>
                        <div class="bg-success position-relative">
                            <img src="{{
                                asset(
                                    'assets/uploads/textures/marais-texture-2.png'
                                )
                                }}"
                                alt=""
                                class="position-absolute top-0 start-0 img-box" />
                            <div class="position-relative z-3 px-5 px-lg-0 d-flex">
                                <img src=" {{
                                    asset(
                                        'assets/icons/mobile.svg'
                                    )
                                    }}"
                                    alt=""
                                    class="d-none d-sm-block d-lg-none icon-50" />
                                <div class="py-4 py-lg-5 px-sm-5 px-lg-4 text-white">
                                    <h5 class="fw-semibold mb-3 title-app-living">
                                        Application Mobile en Développement !
                                    </h5>
                                    <p class="fst-italic m-0 text-app-living">
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. A quas esse
                                        consectetur nihil sapiente distinctio
                                        nulla qui culpa est quo perferendis
                                        quos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <h6 class="text-uppercase fw-light fw-bold mb-2 pt-top-50">
                            Donation
                            <span class="little-line-article bg-success mt-2">

                            </span>
                        </h6>

                        <form>
                            <div class="form-check mb-3">
                                <input class="form-check-input"
                                    type="radio"
                                    name="flexRadioDefault"
                                    id="flexRadioDefault1" />
                                <label class="form-check-label"
                                    for="flexRadioDefault1">
                                    5€
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input"
                                    type="radio"
                                    name="flexRadioDefault"
                                    id="flexRadioDefault2"
                                    checked />
                                <label class="form-check-label"
                                    for="flexRadioDefault2">
                                    10€
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input"
                                    type="radio"
                                    name="flexRadioDefault"
                                    id="flexRadioDefault3" />
                                <label class="form-check-label"
                                    for="flexRadioDefault3">
                                    20€
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1"
                                    class="form-label text-black-50 fst-italic fw-light">
                                    Personnalisé
                                </label>
                                <input type="email"
                                    class="form-control"
                                    id="exampleInputEmail1"
                                    aria-describedby="emailHelp" />
                            </div>

                            <button type="bouton"
                                class="btn btn-success w-100 fw-light">
                                Faire un don
                            </button>
                        </form>

                        <div class="d-flex justify-content-lg-around gap-lg-0 gap-3">
                            <img src=" {{
                                asset(
                                    'assets/icons/apple-pay.svg'
                                )
                                }}  "
                                alt=""
                                class="icon-payment" />
                            <img src=" {{
                                asset(
                                    'assets/icons/mastercard.svg'
                                )
                                }} "
                                alt=""
                                class="icon-payment" />
                            <img src=" {{ asset('assets/icons/visa.svg') }}"
                                alt=""
                                class="icon-payment" />
                            <img src=" {{ asset('assets/icons/paypal.svg') }}"
                                alt=""
                                class="icon-payment" />
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <!-- Jungle end -->

    <!-- Tickets start -->

    <section>
        <div class="container d-flex flex-column mb-4 pt-top pb-bottom">
            <div class="d-flex mb-3 gap-2 align-items-center">
                <span class="little-line-article bg-success"></span>
                <h6 class="text-uppercase m-0 little-title-article">
                    billeterie
                </h6>
            </div>

            <h1 class="text-uppercase fw-light mb-4">
                réserver votre <span class="fw-bold">ticket</span>
            </h1>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 p-2">
                        <div class="bg-body-tertiary p-4 d-flex flex-column align-items-center h-100 justify-content-between">
                            <img src=" /assets/icons/adult.svg"
                                alt=""
                                class="icon-ticket mb-4" />
                            <h6 class="fw-light mb-3">
                                Adulte (+18 ans)
                            </h6>
                            <div class="d-flex gap-1">
                                <h6 class="fw-bold">
                                    €
                                </h6>
                                <h3 class="fw-bold m-0 text-success mb-4">
                                    18
                                </h3>
                            </div>
                            <div class="border-top w-100 p-4 m-0">
                                <button type="button"
                                    class="btn border border-success fw-bold p-2 w-100">
                                    Acheter
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2">
                        <div class="bg-body-tertiary p-4 d-flex flex-column align-items-center h-100 justify-content-between">
                            <img src=" /assets/icons/adolescent.svg"
                                alt=""
                                class="icon-ticket mb-4" />

                            <h6 class="fw-light mb-3">
                                Enfants (4-18 ans)
                            </h6>
                            <div class="d-flex gap-1">
                                <h6 class="fw-bold">
                                    €
                                </h6>
                                <h3 class="fw-bold m-0 text-success mb-4">
                                    12
                                </h3>
                            </div>
                            <div class="border-top w-100 p-4 m-0">
                                <button type="button"
                                    class="btn border border-success fw-bold p-2 w-100">
                                    Acheter
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2">
                        <div class="bg-body-tertiary p-4 d-flex flex-column align-items-center h-100 justify-content-between">
                            <img src=" /assets/icons/baby.svg"
                                alt=""
                                class="icon-ticket mb-4" />
                            <h6 class="fw-light mb-3">
                                Bébé (-4 ans)
                            </h6>
                            <div class="d-flex gap-1">
                                <h5 class="fw-bold m-0 text-success mb-4">
                                    GRATUIT
                                </h5>
                            </div>
                            <div class="border-top w-100 p-4 m-0">
                                <button type="button"
                                    class="btn border border-success fw-bold p-2 w-100">
                                    Acheter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tickets stop -->

    <!-- Paiement Options start -->
    <section>
        <div class="container-fluid bg-body-tertiary pt-top-50 pb-bottom-50">
            <div class="container d-flex justify-content-center">
                <div class="row">
                    <div>
                        <div class="d-flex flex-column align-items-center justify-content-center mb-3 gap-2">
                            <h6 class="text-uppercase m-0 little-title-article">
                                paiements
                            </h6>
                            <span class="little-line-article bg-success"></span>
                            <h1 class="text-uppercase mb-4 fw-light text-center">
                                <span class="fw-bold">paiement</span> dans le parc
                            </h1>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex mb-4">
                        <div class="d-flex flex-column align-items-center justify-content-center w-100 bg-success gap-3 p-4">
                            <img src="{{
                                asset(
                                    'assets/icons/credit-card.svg'
                                )
                                }}"
                                alt=""
                                class="icon" />

                            <h6>
                                Cartes Bancaires
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex mb-4">
                        <div class="d-flex flex-column align-items-center justify-content-center w-100 bg-white gap-3 p-4">
                            <img src="{{ asset('assets/icons/euro.svg') }}"
                                alt=""
                                class="icon" />
                            <h6>
                                Espèces
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex mb-4">
                        <div class="d-flex flex-column align-items-center justify-content-center w-100 bg-dark gap-3 p-4 text-white">
                            <img src="{{
                                asset(
                                    'assets/icons/money-check.svg'
                                )
                                }}"
                                alt=""
                                class="icon" />
                            <h6>
                                Chèques
                            </h6>
                        </div>
                    </div>
                    <div class="d-flex fst-italic justify-content-center">
                        <h6 style="font-size : 0.75rem">
                            *Des guichets de retrait sont disponibles dans le
                            parc.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Paiement Options stop -->

    <!-- Offcanvas start -->

    <div class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                Offcanvas
            </h5>
            <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close">

            </button>
        </div>
        <div class="offcanvas-body">
            <div>
                Some text as placeholder. In real life you can have the elements
                you have chosen. Like, text, images, lists, etc.
            </div>
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown">
                    Dropdown button
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                        <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Something else here
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Offcanvas stop -->
{% endblock %}
