{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <div class="container w-100 h-100 mb-4">
        <div class="row">
            <div class="col-12">
                <h3 class="fw-light">
                    Bienvenue sur votre tableau de bord <span class="fw-normal">
                        {{ app.user.name }}
                    </span> !{% set roleName = null %}

                    {% for role in app.user.roles %}
                        {% if 'ROLE_ADMIN' == role %}
                            {% set roleName = 'Administrateur' %}
                        {% elseif 'ROLE_EMPLOYE' == role %}
                            {% set roleName = 'Employé' %}
                        {% elseif 'ROLE_VETO' == role %}
                            {% set roleName = 'Vétérinaire' %}
                        {% endif %}
                    {% endfor %}
                </h3>
                <p class="fst-italic text-body-tertiary fw-light">
                    Vous êtes connecté en tant que : <span class="secondary fw-normal">{{
                            roleName
                        }}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex mb-4">
                <div class="w-100">
                    <div class="p-3 bg-white h-100">
                        <h6 class="fw-semibold border-2 rounded-2 mb-4">
                            Rapports d'Alimentation
                        </h6>
                        {% if (employeesReports|length) > 0 %}
                            {% for report in employeesReports|reverse %}
                                {% if loop.index <= 3 %}
                                    <div class="p-3 bg-body-tertiary mb-4">
                                        <div class="row flex-sm-row flex-column-reverse">
                                            <div class="col-sm-6">
                                                <p class="txt-12px mb-1 text-body-tertiary">
                                                    {{ report.animal.breed }}
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="txt-12px mb-1 text-body-tertiary text-sm-end">
                                                    {{
                                                        report.datetime|date(
                                                            'd/m/Y H:i'
                                                        )
                                                    }}
                                                </p>
                                            </div>
                                        </div>
                                        <h6 class="mb-3">
                                            {{ report.animal.name }}
                                        </h6>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-4 col-12">
                                                <div>
                                                    <p class="txt-12px text-body-tertiary m-0">
                                                        Nourritures données :
                                                    </p>
                                                    <p class="txt-12px">
                                                        {{ report.food }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-4 col-12">
                                                <div>
                                                    <p class="txt-12px text-body-tertiary m-0">
                                                        Quantité données :
                                                    </p>
                                                    <p class="txt-12px">
                                                        {{ report.quantity }} kg
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <a href="/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CEmployeesReportsCrudController">
                                Voir tous les rapports &rarr;
                            </a>
                        {% else %}
                            <p class="text-body-tertiary">
                                Aucun rapport n'a été trouvé.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex mb-4">
                <div class="w-100">
                    <div class="p-3 bg-white h-100">
                        <h6 class="fw-semibold border-2 rounded-2 m-0 mb-4">
                            Rapports des Soins
                        </h6>
                        {% if (veterinariansReports|length) > 0 %}
                            {% for report in veterinariansReports|reverse %}
                                {% if loop.index <= 2 %}
                                    <div class="p-3 bg-body-tertiary mb-4">
                                        <div class="row flex-sm-row flex-column-reverse">
                                            <div class="col-sm-6">
                                                <p class="txt-12px mb-1 text-body-tertiary">
                                                    {{ report.animal.breed }}
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="txt-12px mb-1 text-body-tertiary text-sm-end">
                                                    {{
                                                        report.datetime|date(
                                                            'd/m/Y H:i'
                                                        )
                                                    }}
                                                </p>
                                            </div>
                                        </div>
                                        <h6 class="mb-3">
                                            {{ report.animal.name }}
                                        </h6>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-4 col-12">
                                                <div>
                                                    <p class="txt-12px text-body-tertiary m-0">
                                                        Régime Alimentaire :
                                                    </p>
                                                    <p class="txt-12px">
                                                        {{ report.diet }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-4 col-12">
                                                <div>
                                                    <p class="txt-12px text-body-tertiary m-0">
                                                        Quantité par Jour :
                                                    </p>
                                                    <p class="txt-12px">
                                                        {{ report.quantity }} kg
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-4 col-12">
                                                <div>
                                                    <p class="txt-12px text-body-tertiary m-0">
                                                        Santé :
                                                    </p>
                                                    <p class="txt-12px">
                                                        {{ report.state }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-4 col-12 d-flex align-items-center">
                                                <a href="/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CVeterinariansReportsCrudController">
                                                    Voir plus &rarr;
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <a href="/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CVeterinariansReportsCrudController">
                                Voir tous les rapports &rarr;
                            </a>
                        {% else %}
                            <p class="text-body-tertiary">
                                Aucun rapport n'a été trouvé.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
